<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="show-main-container">
  <div class="blog-title-container">
    <%= blog.title %>
  </div>
  <div class="blog-date-show">
    <%= blog.createdAt.toDateString() %>
  </div>
  <div class="blog-banner-container">
    <img src="<%= blog.blogBanner %>" alt="Blog Banner">
  </div>
  <div class="blog-story-container">
    <%= blog.subTitle %>
  </div>

  <% if(user && user.username === blog.owner.username) { %>
    <div class="blog-edit-container">
      <form action="/blogs/<%= blog._id %>/?_method=DELETE" method="POST">
      <button class="delete"><i class="fa-solid fa-trash"></i></button>
      </form>
    </div>
  
    <div class="blog-edit-container">
      <a href="/blogs/<%= blog._id %>/edit"><button class="edit"><i class="fa-solid fa-pen-to-square"></i></button></a>
    </div>
  
  <% } %>
  
</div>

<p class="comment-heading">Comments</p>
<div class="add-comment-container"><a href="/blogs/<%= blog._id%>/comments/new"><i class="fa-solid fa-comment"></i>Add Comments</a></div>
<% comments.forEach((comment) => { %>
  <div class="comment-container">
    <div class="profile-picture-container">
      <div class="profile-img-container">
        <img src="<%= comment.profilePicture %>" alt="">
      </div>
    </div>
    <div class="username-container">
      <p><%= comment.user.username %></p>
      <div class="blog-date-show-comment">
        <%= timeAgo(comment.createdAt) %>
      </div>
    </div>
    <div class="comment-text-container">
      <p><%= comment.text %></p>
    </div>
 
    <% if(user && user.username === comment.user.username) { %>
      <div class="button-container">
        <div>
          <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
            <button class="comment-delete"><i class="fa-solid fa-trash"></i></button>
          </form>
          <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit"><button class="comment-edit"><i class="fa-solid fa-pen-to-square"></i></button></a>
        </div>
        
      </div>
   <% } %>
    
  </div>
  
 <% }) %>


<%- include('partials/footer') %>
